google-ads-api-report-fetcher[bq]==1.15.4
db-dtypes
pyyaml
google-api-python-client==2.80.0
urllib3==1.26.18  # remedy for pkg_resources.ContextualVersionConflict bug
smart_open[gcs]
garf_youtube_data_api
garf-executors[bq]
